.projectContainer{
    width: 100%;
    min-height: 100vh;
}

.mainContainer{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    padding: 2em 0;
}

/*======CARDS======*/

.ProjectCards{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.projectCard{
    width: 20em;
    min-height: 20em;
    border-radius: 0.75em;
    overflow: hidden;
}

 a{
    color: inherit;
}

.projectImg{
    width: 100%;
    height: 8em;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.projectImg img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.projectInfo{
    width: 100%;
    height: 12em;
    padding: 0.5em ;
}

.links {
    display: flex;
    gap: 2em;
    margin-top: 5em;
    color: inherit;
}

/*======RESPONSIVE======*/
@media (min-width:600px) {
    .ProjectCards{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .projectCard{
        width: 25em;
    }
}
@media (min-width:1000px){
    .mainContainer{
        font-size: 1.5em;
    }
}

