@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
}

.logosSlide{
    white-space: nowrap;
    animation: slide 10s linear infinite ;
}

.logos:hover .logosSlide{
    animation-play-state: paused;
}

.logosSlide .icon{
    margin-right: 4.5em;
}