* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;      
  scroll-behavior: smooth; 
}

body {
  font-family:"Grenze", serif ; 
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;      
  background-color: #f0eeee;
  max-width: 100vw;
  
}

:root{
  --mainCl:#4f46e5;
  --textCl:#4b5563;
}

.contentContainer{
  max-width: 80%;
  min-height: 90vh;
  margin: 0 auto;
}


.darkPrimary{
  background-color: #111827;
  transition: 0.3s ease-in-out;
  color: white;
}

.darkSecondary{
  background-color: #1f2937;
  transition: 0.3s ease-in-out;
  color: white;
}

.lightPrimary{
  background-color: #ddd9d9;
  color: var(--textCl);
   transition: 0.3s ease-in-out;
}
.lightSecondary{
  background-color: #d0cece;
  color: var(--textCl);
   transition: 0.3s ease-in-out;
}


.CTA{
	box-shadow: 0px 10px 14px -7px #75138e;
	background:linear-gradient(to bottom, #681175 5%, #b435de 100%);
	background-color:#681175;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:0.6em 0.6em;
	text-decoration:none;
	text-shadow:0px 1px 0px #8c35dd;
  border: none;
}
.CTA:hover {
	background:linear-gradient(to bottom, #b435de 5%, #681175 100%);
	background-color:#b435de;
}
.CTA:active {
	position:relative;
	top:1px;
}